:root {
  --primary-color: #11235A;
  --secondary-color:#596FB7;
  --third-color:#C6CF9B;
  --forth-color:#F6ECA9;
  --background:#DCE5FD;
  --br12:12px;
  --b10:10px;
}

*{
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

body,html{
  background:var(--background) ;
}

.pab20l0{
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 10px;
 
}