.page_wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    place-items: center;
    position: relative;
    background: url(/bg.jpg)no-repeat center center/cover;
}